<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../css/style.css' />
    <link rel="stylesheet" href="../css/Nav.css" />
  </head>
  <body>
  <div>
      <nav class="first">
          <ul>
              <li><a href="/">主页</a></li>
              <li><a href="/chat">聊天室</a></li>
              <li><a href="/">临时聊天室</a></li>
              <li><a href="">个人主页</a></li>
          </ul>
      </nav>
</div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  </body>
</html>
