<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Websocket Chat</title>

    <link rel="stylesheet" href="css/style.css">

</head>

<body>
 <nav></nav>
  <div class="form">
    <div class="icon"></div>
  <form method="POST">
    <input name="userId" type="text" placeholder="Username" value="Username" onfocus="this.value='';"/>
    <input name="password" type="password" placeholder="Password" value="Password" onfocus="this.value='';"/>
    <input type="submit" value="Login" action="submit"/>
  </form>
  </div><!--form-->
<div class="recovery">
<span><a href="#">忘记密码</a></span>
<span><a href="/register">注册</a></span>
</div>

</body>

</html>